@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    background-color: rgb(121, 118, 124);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    padding: 0px 20px;
}

nav a{
    text-decoration: none;
    color: rgb(245, 245, 247);
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    width: 100%;
}

nav a:hover{
    color: #000;
}

.nav-logo{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

.header-info h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: #000;
    margin-top: 50px;
}

.header-info{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header-info img{
    width: 50%;
    margin-top: 20px;
}

main{
    max-height: 50%;
    margin-top: 30px;
}

.examples{
    border: 1px rgb(77, 74, 74) solid;
}

.examples h1{
    text-align: center;
    font-size: 1.5rem;
}

.examples-images{
    display: flex;
    justify-content: space-around;
}

.examples-images img{
    border-radius: 50%;
    border: #000 1px solid;
    margin-top: 20px;
}

.support{
    height: 400px;
    background-image: url('../Imagenes/spacex.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.support h2{
    color: #fff;
    background-color: rgb(0, 0, 0, 0.514);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    justify-content: center;
    display: flex;
}

.support p{
    color: #fff;
    background-color: rgb(0, 0, 0, 0.514);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    justify-content: center;
    display: flex;
}

footer{
    margin-left: 20px;
    margin-top: 20px;
    max-height: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    color: white;
    border: 1px rgb(121, 118, 124) solid;
}

footer h5{
    color: #000;
    margin-top: 20px;
}

.one {
    margin-left: 20px; 
}

.three img{
    margin-right: 30px;
}

.card{
    border: 1px rgb(112, 108, 108) solid;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products{
    margin-top: 90px;
}

.products h1{
    text-align: center;
}

.search form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0% auto;
}

.search input{
    margin: 10px 0px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #7b7b7d83;
    outline: none;
}

.search h1{
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

.repair{
    display: flex;
    justify-content: space-around;
}


.repair a{
    border: #cace7a 1px solid;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.supports{
   display: flex;
   justify-content: space-around;
   border: 1px #7b7b7d38 solid;
   margin-left: 20px;
   margin-top: 20px;
}

main{
    max-height: 50%;
}

.contact form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0% auto;
}

.contact input,textarea, select{
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(124, 122, 122);
}

.contact button{
    background-color: rgb(121, 118, 124);
    padding: 10px;
    font-weight: bold;
    border: 1px solid #2f2e4d;
    margin-bottom: 15px;
    width: 50%;
    margin: 10px auto;
    border-radius: 15px;
}

.contact h1{
    text-align: center;
    margin-top: 90px;
}

@media (max-width: 1080px) {
    .header-info{
      margin-top: 15px;
    }
    nav ul li a{
        padding: 10px;
    }
  }
  
  @media (max-width: 640px){
    nav ul li a{
        padding: 1px;
    }
    .two iframe{
      width: 70%;
      height: 40%;
    }

    .header-info a {    
      font-size: 0.8rem;    
    }
    .header-info p{
      font-size: 0.7rem;
    }
    .header-info{
      margin-top: 45px;
      padding: 0 10px;
    }
  
    nav a {    
      font-size: 12px;
    }
  
    nav li {    
      padding: 0px 10px;
    }
}
